*.sh
*.zip
.venv
.vscode
__pycache__
TEST.ipynb
EXAMPLE.ipynb
STATE_DATA_PRIVATE.py
STATE_DATA/doc/
STATE_DATA/data
cpq_tools/compute_network_NOUPLOAD.py
cpq_tools_CHEAT_SHEET.ipynb
index_page.ipynb
LICENSE
doc/new_computer_setup.md
doc/cmd_powershell_bash_commands.md
doc/python_virtual_environments.md
server_info.md
